<h1>Text</h1>
{{ section.settings.liquid-ref }}

<br/>

<h1>Checkbox</h1>
{% if section.settings.liquid-checkbox == true %}
  Checkbox is Checked
{% else %}
  Checkbox is NOT Checked
{% endif %}

<br/>

<h1>Number</h1>
{% if section.settings.liquid-number > 0 %}
  {{ section.settings.liquid-number }}
{% endif %}

<br/>

<h1>Radio</h1>
{% if section.settings.liquid-radio == "option-1" %}
Option 1 Selected
{% elsif section.settings.liquid-radio == "option-2" %}
Option 2 Selected
{% else %}
Option 3 Selected
{% endif %}

<br/>

<h1>Range</h1>
{{ section.settings.liquid-range }}

<br/>

<h1>Select</h1>
{{ section.settings.liquid-select }}

<br/>

<h1>Text Area</h1>
{{ section.settings.liquid-textarea }}

{% schema %}
  {
    "name": "Section name",
    "settings": [{
      "id":"liquid-ref",
      "type": "text",
      "label":"Text"
    },
    {
      "id":"liquid-checkbox",
      "type": "checkbox",
      "label":"Checkbox"
    },
    {
      "id":"liquid-number",
      "type": "number",
      "label":"Number"
    },
    {
      "id":"liquid-radio",
      "type": "radio",
      "label":"Radio",
      "options":[
      {
        "value": "option-1" ,
        "label": "Option-1"
      },
      {
        "value": "option-2" ,
        "label": "Option-2"
      },
      {
        "value": "option-3" ,
        "label": "Option-3"
      }
    ]
    },
    {
      "id":"liquid-range",
      "type": "range",
      "label":"Range",
      "min": 3,
      "max": 12,
      "step":3,
      "default": 3
    },
    {
      "id":"liquid-select",
      "type": "select",
      "label":"Select",
      "options":[
      {
        "value": "Option-1" ,
        "label": "Option-1"
      },
      {
        "value": "Option-2" ,
        "label": "Option-2"
      },
      {
        "value": "Option-3" ,
        "label": "Option-3"
      }
    ],
    "default":"Option-2"

    },
    {
      "id":"liquid-textarea",
      "type": "textarea",
      "label":"Text Area"
    }
  ],
    "templates": ["index", "page","product"],
    "presets":[
      {
        "name":"Liquid Refernece",
        "category":"Reference"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}