{{ 'social/social-icons.css' | global_asset_url | stylesheet_tag }}

<div class="page-width">
  <div hidden>
    <span id="new-window-0">Opens in a new window</span>
  </div>

  <h2>{{ section.settings.social-nav }}</h2>

  <ul class="social-media-menu">
    {% for block in section.blocks %}
      <li>
        <a
          href="{{ blocks.settings.social-url }}"
          target="_blank"
          rel="noopener"
          aria-label="{{ blocks.settings.social-name }}"
          aria-describedby="new-window-0">
          <span class="shopify-social-icon-{{ blocks.settings.social-name | downcase }}-circle" aria-hidden="false"></span>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

{% schema %}
  {
    "name": "Social Media Nav",
    "settings": [
      {
        "id": "social-nav",
        "type": "text",
        "label": "Message"
      }
    ],
    "presets": [
      {
        "name": "Social Media Nav",
        "category": "Social"
      }
    ],
    "blocks": [
      {
        "name": "Social Media Network",
        "type": "Social-network",
        "settings": [
          {
            "id": "social-url",
            "type": "url",
            "label": "URL"
          }, {
            "id": "social-name",
            "type": "text",
            "label": "Network Name"
          }
        ]
      }
    ]
  }
{% endschema %}